---
import { getCollection, getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Tag from "../../components/Tag.svelte";
import NavButton from "../../components/NavButton.svelte";
import DateFormater from "../../components/DateFormater.svelte";
import { Image } from "astro:assets";

// Generate static pages
export async function getStaticPaths() {
  // 1. Fetch ALL posts from the "posts" content collection
  const posts = await getCollection("posts");

  // 2. Return an array of objects, where each object represents a page.
  //    The 'params' object must match the dynamic part of your filename ([slug]).
  return posts.map((post, index) => ({
    params: { slug: post.slug },
    props: { id: index },
  }));
}

interface Props {
  id: number;
}

// Find specific post
const { slug } = Astro.params;

if (!slug) throw new Error("Slug not found");

// 3. Fetch the specific post entry from the "posts" collection using the slug
const post = await getEntry("posts", slug);

const posts = await getCollection("posts");
const prevPost = !posts[Astro.props.id - 1]
  ? posts[posts.length - 1]
  : posts[Astro.props.id - 1];
const nextPost = !posts[Astro.props.id + 1]
  ? posts[0]
  : posts[Astro.props.id + 1];

const formattedDate = post.data.date.toLocaleDateString("en-UK", {
  year: "numeric",
  month: "short",
  day: "numeric",
});

if (!post) throw new Error("No post found for this slug");

// 4. Render the post content into a component
const { Content } = await post.render();

// Thumbnail
const thumbnailModules = import.meta.glob<{ default: ImageMetadata }>(
  "../../assets/thumbnails/posts/**/thumbnail.avif",
);
const thumbnail =
  await thumbnailModules[
    `../../assets/thumbnails/posts/${post.slug}/thumbnail.avif`
  ]?.();
---

<Layout title={post.data.title}>
  <section class="bg">
    {/* Metadata */}
    <section class="pt-16">
      <div class="content relative m-auto w-3/4 flex flex-col py-48">
        <a class="back absolute top-6 text-md" href="/posts">Back to blog</a>
        <DateFormater
          className="mb-8 text-[var(--color-base-content-muted)]"
          date={post.data.date}
        />
        <h1 class="text-6xl font-bold mb-8 text">{post.data.title}</h1>
        <div class="flex gap-2">
          {post.data.tags?.map((tag) => <Tag tag={tag} />)}
        </div>
      </div>
    </section>
    {/* Thumbnail */}
    <Image
      src={thumbnail.default}
      alt={post.data.title}
      priority
      fit="cover"
      width={2000}
      height={1000}
    />
    {/* Content */}
    <article class="m-auto p-40 w-3/4">
      <Content />
    </article>
    {/* Navigation */}
    <section class="nav m-auto p-40 w-3/4 grid grid-cols-2 gap-4">
      <NavButton
        label={"Previous post"}
        title={prevPost.data.title}
        slug={prevPost.slug}
      />
      <NavButton
        label={"Next post"}
        title={nextPost.data.title}
        slug={nextPost.slug}
      />
    </section>
  </section>
</Layout>

<style>
  .bg {
    background-color: var(--color-base-100);
  }

  .text {
    color: var(--color-base-content);
  }

  .text-muted {
    color: var(--color-base-content-muted);
  }

  .back {
    color: var(--color-base-content-muted);
    transition: all 0.3s ease-in-out;
  }

  .back:hover {
    color: var(--color-base-content);
  }

  @media (max-width: 900px) {
        .content {
            padding: 4rem 0;
            width: 90%;
        }

        .content h1 {
            font-size: 2.5rem;
        }

        article {
            width: 90%;
            padding: 4rem 0;
        }

        .nav {
            grid-template-rows: fit-content fit-content;
            grid-template-columns: 1fr;
            width: 90%;
            padding: 0 0 4rem 0;
        }
    }
</style>
