---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.svelte";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

const thumbnails = import.meta.glob<{ default: ImageMetadata }>("../assets/thumbnails/posts/**/thumbnail.avif", { eager: true })

const posts = await getCollection("posts");
---


<Layout title="Blog">
  <section class="bg min-h-[calc(100vh-4rem)]">
    <div class="m-auto pt-40 pb-0">
        <h1 class="text-7xl font-bold text-center">Blog</h1>
    </div>
    <div class="posts m-auto w-3/5 py-20">
        <div class="flex flex-col gap-8">
            {
              posts.map((post) => (
                <BlogPost title={post.data.title} slug={`/posts/${post.slug}`} description={post.data.description} date={post.data.date}>
                  <div class="thumbnail w-96 h-[100%] rounded overflow-hidden">
                    <Image src={thumbnails[`../assets/thumbnails/posts/${post.slug}/thumbnail.avif`].default} alt={post.data.title} priority fit="cover" width={810}/>
                  </div>
                </BlogPost>
              ))  
            }
        </div>
    </div>
  </section>
</Layout>

<style>
  .bg {
    background-color: var(--color-base-100);
  }

  h1 {
    color: var(--color-base-content);
  }

  @media (max-width: 900px) {
       .posts {
        width: 90%;
       }

       .thumbnail {
        width: 100%;
       }

       .bg div h1 {
        font-size: 3rem;
       }
    }


</style>