---
import { getCollection, getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Tag from "../../components/Tag.svelte";
import NavButton from "../../components/NavButton.svelte";
import Button from "../../components/Button.svelte";
import { Image } from "astro:assets";

export async function getStaticPaths() {
    const portfolio = await getCollection("portfolio");

    return portfolio.map((caseStudy, index) => ({
        params: { slug: caseStudy.slug },
        props: { id: index },
    }));
}

interface Props {
    id: number;
}

const { slug } = Astro.params;
if (!slug) throw new Error("Slug not found");

const caseStudy = await getEntry("portfolio", slug);

// Thumbnail
const thumbnailModules = import.meta.glob<{ default: ImageMetadata }>(
    "../../assets/thumbnails/portfolio/**/thumbnail.avif",
);
const thumbnail =
    await thumbnailModules[
        `../../assets/thumbnails/portfolio/${caseStudy.slug}/thumbnail.avif`
    ]?.();

// Previous and next case studies
const portfolio = await getCollection("portfolio");
const prevCaseStudy = !portfolio[Astro.props.id - 1]
    ? portfolio[portfolio.length - 1]
    : portfolio[Astro.props.id - 1];
const nextCaseStudy = !portfolio[Astro.props.id + 1]
    ? portfolio[0]
    : portfolio[Astro.props.id + 1];

const formattedDate = caseStudy.data.year.toLocaleDateString("en-UK", {
    year: "numeric",
});

if (!caseStudy) throw new Error("Case study not found");

const { Content } = await caseStudy.render();
---

<Layout title={caseStudy.data.title}>
    <section class="bg">
        {/* Metadata */}
        <section class="pt-16">
            <div
                class="grid grid-cols-2 items-center relative m-auto w-3/4 flex items-start py-48"
            >
                <a class="back absolute top-6 text-md" href="/portfolio"
                    >Back to portfolio</a
                >
                <div class="flex flex-col items-start gap-2">
                    <h1 class="text text-6xl font-bold mb-4">
                        {caseStudy.data.title}
                    </h1>
                    <p class="text-muted text-xl mb-8">
                        {caseStudy.data.description}
                    </p>
                    <Button label="Live Demo" slug={caseStudy.data.demo} />
                </div>
                <div class="flex flex-col items-start gap-2">
                    <div
                        class="grid grid-cols-2 w-full py-6 border-t border-b border-[var(--color-border)]"
                    >
                        <p class="text-xl text-muted subtitle">Category</p>
                        <p class="text-xl text">{caseStudy.data.category}</p>
                    </div>
                    <div
                        class="grid grid-cols-2 w-full py-6 border-b border-[var(--color-border)]"
                    >
                        <p class="text-xl text-muted subtitle">Year</p>
                        <p class="text-xl text">{formattedDate}</p>
                    </div>
                    <div
                        class="grid grid-cols-2 w-full py-6 border-b border-[var(--color-border)]"
                    >
                        <p class="text-xl text-muted subtitle">Tags</p>
                        <div class="flex gap-2">
                            {
                                caseStudy.data.tags?.map((tag) => (
                                    <Tag tag={tag} />
                                ))
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {/* Thumbnail */}
        <Image
            src={thumbnail.default}
            alt={caseStudy.data.title}
            priority
            fit="cover"
            width={2000}
            height={1000}
        />
        {/* Content */}
        <article class="m-auto p-40 w-3/4">
            <Content />
        </article>
        {/* Navigation */}
        <section class="m-auto p-40 w-3/4 grid grid-cols-2 gap-4">
            <NavButton
                label={"Previous case study"}
                title={prevCaseStudy.data.title}
                slug={prevCaseStudy.slug}
            />
            <NavButton
                label={"Next case study"}
                title={nextCaseStudy.data.title}
                slug={nextCaseStudy.slug}
            />
        </section>
    </section>
</Layout>

<style>
    .bg {
        background-color: var(--color-base-100);
    }

    .text {
        color: var(--color-base-content);
    }

    .text-muted {
        color: var(--color-base-content-muted);
    }

    .subtitle {
        font-weight: 500;
    }

    .back {
        color: var(--color-base-content-muted);
        transition: all 0.3s ease-in-out;
    }

    .back:hover {
        color: var(--color-base-content);
    }
</style>
